h1{
	font-size: 40px;
	text-align: center;
	margin-top: 200px;
}
form{
	margin-top: 40px;
	text-align: center;
}
.main{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid blue;
	color: black;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}


